<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ZMS | Вход</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <img src="/static/logo.png" alt="ZMS" width="250" class="logo">

    <div class="content">
        <div class="card">
            <p class="card-text">Приложите, пожалуйста карточку.</p>
            <img src="/static/smile.png" alt="Смайл">
        </div>

        <div class="arrow">
            <img src="/static/arrow.png" alt="Стрелка">
        </div>
    </div>
</body>
</html>
